In [54]:
#importando as bibliotecas
import pandas as pd
from datetime import datetime
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [156]:
df = pd.read_csv(r"C:\Users\luis.bezerra.ext\Desktop\Scripts - Python\all_bovespa.csv", delimiter=',')
display(df)

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio
0,2022-01-03,GNDI3,INTERMEDICA,59.70,60.88,57.27,58.75,3960200.0,2.335126e+10
1,2022-01-03,ABEV3,AMBEV S/A,15.42,15.54,15.15,15.33,23833600.0,3.645410e+10
2,2022-01-03,MODL11,MODALMAIS,10.80,11.47,10.71,10.93,725000.0,8.033650e+08
3,2022-01-03,TASA4,TAURUS ARMAS,25.00,25.05,24.28,24.54,610900.0,1.506877e+09
4,2022-01-03,CRIV4,ALFA FINANC,5.68,5.70,5.57,5.70,5800.0,3.296500e+06
...,...,...,...,...,...,...,...,...,...
218911,2023-05-18,CPLE3,COPEL,6.78,6.80,6.64,6.76,1799600.0,1.208028e+09
218912,2023-05-18,GRND3,GRENDENE,6.96,7.29,6.95,7.22,3733200.0,2.655694e+09
218913,2023-05-18,CTNM4,COTEMINAS,2.82,2.90,2.75,2.83,167800.0,4.752770e+07
218914,2023-05-18,CVCB3,CVC BRASIL,2.99,3.11,2.97,3.09,18894600.0,5.739218e+09
218915,2023-05-18,EUCA3,EUCATEX,11.23,11.59,11.10,11.13,4800.0,5.424800e+06

In [157]:
#itau

df_itau = df[df['sigla_acao']=='ITUB4']
df_itau

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio
130,2022-01-03,ITUB4,ITAUUNIBANCO,21.17,21.81,21.09,21.51,32852900.0,7.056746e+10
1440,2022-01-19,ITUB4,ITAUUNIBANCO,23.82,24.08,23.40,23.48,30925300.0,7.299179e+10
1467,2022-02-21,ITUB4,ITAUUNIBANCO,26.23,26.28,25.23,25.53,22419500.0,5.767322e+10
3084,2022-02-04,ITUB4,ITAUUNIBANCO,25.24,25.76,25.20,25.46,34593900.0,8.833600e+10
3368,2022-01-04,ITUB4,ITAUUNIBANCO,21.62,22.18,21.43,22.12,43948600.0,9.643259e+10
...,...,...,...,...,...,...,...,...,...
217211,2023-05-10,ITUB4,ITAUUNIBANCO,26.46,27.04,26.29,26.90,30969900.0,8.282755e+10
217842,2023-05-17,ITUB4,ITAUUNIBANCO,27.10,27.42,26.95,27.19,23992100.0,6.504549e+10
218028,2023-05-25,ITUB4,ITAUUNIBANCO,26.87,27.36,26.68,27.25,45505400.0,1.234654e+11
218271,2023-05-26,ITUB4,ITAUUNIBANCO,27.40,27.76,26.79,27.04,29682000.0,8.096778e+10
218875,2023-05-18,ITUB4,ITAUUNIBANCO,27.10,27.14,26.76,27.09,23660900.0,6.377127e+10

In [158]:
df.dtypes

data_pregao          object
sigla_acao           object
nome_acao            object
preco_abertura      float64
preco_max           float64
preco_min           float64
preco_fechamento    float64
qtd_negocios        float64
volume_negocio      float64
dtype: object

In [159]:
#Mudar o tipo data
df_itau['data_pregao'] = pd.to_datetime(df_itau['data_pregao'],format='%Y-%m-%d')

C:\Users\luis.bezerra.ext\AppData\Local\Temp\ipykernel_8816\3661388799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_itau['data_pregao'] = pd.to_datetime(df_itau['data_pregao'],format='%Y-%m-%d')

In [160]:
df.head(1)

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio
0,2022-01-03,GNDI3,INTERMEDICA,59.7,60.88,57.27,58.75,3960200.0,2.335126e+10

In [161]:
#criando novos campos de medias mÃ³veis
df_itau['mm5d'] = df_itau['preco_fechamento'].rolling(5).mean()
df_itau['mm21d'] = df_itau['preco_fechamento'].rolling(21).mean()

C:\Users\luis.bezerra.ext\AppData\Local\Temp\ipykernel_8816\1600553900.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_itau['mm5d'] = df_itau['preco_fechamento'].rolling(5).mean()
C:\Users\luis.bezerra.ext\AppData\Local\Temp\ipykernel_8816\1600553900.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_itau['mm21d'] = df_itau['preco_fechamento'].rolling(21).mean()

In [162]:
df_itau

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio,mm5d,mm21d
130,2022-01-03,ITUB4,ITAUUNIBANCO,21.17,21.81,21.09,21.51,32852900.0,7.056746e+10,NaN,NaN
1440,2022-01-19,ITUB4,ITAUUNIBANCO,23.82,24.08,23.40,23.48,30925300.0,7.299179e+10,NaN,NaN
1467,2022-02-21,ITUB4,ITAUUNIBANCO,26.23,26.28,25.23,25.53,22419500.0,5.767322e+10,NaN,NaN
3084,2022-02-04,ITUB4,ITAUUNIBANCO,25.24,25.76,25.20,25.46,34593900.0,8.833600e+10,NaN,NaN
3368,2022-01-04,ITUB4,ITAUUNIBANCO,21.62,22.18,21.43,22.12,43948600.0,9.643259e+10,23.620,NaN
...,...,...,...,...,...,...,...,...,...,...,...
217211,2023-05-10,ITUB4,ITAUUNIBANCO,26.46,27.04,26.29,26.90,30969900.0,8.282755e+10,26.664,26.156667
217842,2023-05-17,ITUB4,ITAUUNIBANCO,27.10,27.42,26.95,27.19,23992100.0,6.504549e+10,26.718,26.267619
218028,2023-05-25,ITUB4,ITAUUNIBANCO,26.87,27.36,26.68,27.25,45505400.0,1.234654e+11,26.866,26.329048
218271,2023-05-26,ITUB4,ITAUUNIBANCO,27.40,27.76,26.79,27.04,29682000.0,8.096778e+10,26.960,26.423333
218875,2023-05-18,ITUB4,ITAUUNIBANCO,27.10,27.14,26.76,27.09,23660900.0,6.377127e+10,27.094,26.431905

In [163]:
#Empurrando para frente os valores das aÃ§Ãµes, afinal, com as features do dia anterior consigo ter uma noÃ§Ã£o do dia seguinte
df_itau['preco_fechamento'] = df_itau['preco_fechamento'].shift(-1)

df_itau.head()

C:\Users\luis.bezerra.ext\AppData\Local\Temp\ipykernel_8816\1680484343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_itau['preco_fechamento'] = df_itau['preco_fechamento'].shift(-1)

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio,mm5d,mm21d
130,2022-01-03,ITUB4,ITAUUNIBANCO,21.17,21.81,21.09,23.48,32852900.0,7.056746e+10,NaN,NaN
1440,2022-01-19,ITUB4,ITAUUNIBANCO,23.82,24.08,23.40,25.53,30925300.0,7.299179e+10,NaN,NaN
1467,2022-02-21,ITUB4,ITAUUNIBANCO,26.23,26.28,25.23,25.46,22419500.0,5.767322e+10,NaN,NaN
3084,2022-02-04,ITUB4,ITAUUNIBANCO,25.24,25.76,25.20,22.12,34593900.0,8.833600e+10,NaN,NaN
3368,2022-01-04,ITUB4,ITAUUNIBANCO,21.62,22.18,21.43,25.75,43948600.0,9.643259e+10,23.62,NaN

In [164]:
df_itau.dropna(inplace=True)
df_itau

C:\Users\luis.bezerra.ext\AppData\Local\Temp\ipykernel_8816\4013706343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_itau.dropna(inplace=True)

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio,mm5d,mm21d
17142,2022-01-10,ITUB4,ITAUUNIBANCO,22.57,22.88,22.31,24.37,41593900.0,9.440739e+10,24.020,23.976190
17810,2022-01-26,ITUB4,ITAUUNIBANCO,24.33,24.50,23.81,25.03,55882300.0,1.350823e+11,24.368,24.112381
18120,2022-03-02,ITUB4,ITAUUNIBANCO,25.17,25.41,24.91,26.53,32470700.0,8.156208e+10,24.552,24.186190
19744,2022-02-11,ITUB4,ITAUUNIBANCO,26.35,27.00,26.17,23.35,160669900.0,4.279020e+11,24.764,24.233810
20557,2022-01-11,ITUB4,ITAUUNIBANCO,22.79,23.35,22.70,24.46,55923800.0,1.288926e+11,24.424,24.133333
...,...,...,...,...,...,...,...,...,...,...,...
216755,2023-05-24,ITUB4,ITAUUNIBANCO,26.40,26.70,26.25,26.90,28743700.0,7.603286e+10,26.668,26.082381
217211,2023-05-10,ITUB4,ITAUUNIBANCO,26.46,27.04,26.29,27.19,30969900.0,8.282755e+10,26.664,26.156667
217842,2023-05-17,ITUB4,ITAUUNIBANCO,27.10,27.42,26.95,27.25,23992100.0,6.504549e+10,26.718,26.267619
218028,2023-05-25,ITUB4,ITAUUNIBANCO,26.87,27.36,26.68,27.04,45505400.0,1.234654e+11,26.866,26.329048
218271,2023-05-26,ITUB4,ITAUUNIBANCO,27.40,27.76,26.79,27.09,29682000.0,8.096778e+10,26.960,26.423333

In [165]:
#reindexando o data frame
df_itau = df_itau.reset_index(drop=True)
df_itau

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_min,preco_fechamento,qtd_negocios,volume_negocio,mm5d,mm21d
0,2022-01-10,ITUB4,ITAUUNIBANCO,22.57,22.88,22.31,24.37,41593900.0,9.440739e+10,24.020,23.976190
1,2022-01-26,ITUB4,ITAUUNIBANCO,24.33,24.50,23.81,25.03,55882300.0,1.350823e+11,24.368,24.112381
2,2022-03-02,ITUB4,ITAUUNIBANCO,25.17,25.41,24.91,26.53,32470700.0,8.156208e+10,24.552,24.186190
3,2022-02-11,ITUB4,ITAUUNIBANCO,26.35,27.00,26.17,23.35,160669900.0,4.279020e+11,24.764,24.233810
4,2022-01-11,ITUB4,ITAUUNIBANCO,22.79,23.35,22.70,24.46,55923800.0,1.288926e+11,24.424,24.133333
...,...,...,...,...,...,...,...,...,...,...,...
325,2023-05-24,ITUB4,ITAUUNIBANCO,26.40,26.70,26.25,26.90,28743700.0,7.603286e+10,26.668,26.082381
326,2023-05-10,ITUB4,ITAUUNIBANCO,26.46,27.04,26.29,27.19,30969900.0,8.282755e+10,26.664,26.156667
327,2023-05-17,ITUB4,ITAUUNIBANCO,27.10,27.42,26.95,27.25,23992100.0,6.504549e+10,26.718,26.267619
328,2023-05-25,ITUB4,ITAUUNIBANCO,26.87,27.36,26.68,27.04,45505400.0,1.234654e+11,26.866,26.329048
329,2023-05-26,ITUB4,ITAUUNIBANCO,27.40,27.76,26.79,27.09,29682000.0,8.096778e+10,26.960,26.423333

In [166]:
#agora vou verificar a quantidade de linhas para ter uma noÃ§Ã£o de como sera meu split de train e test mais pra frente
 
#verificando quantidade de linhas
qtd_linhas = len(df_itau)

qtd_linhas_treino= round(.70 * qtd_linhas)
qtd_linhas_teste= qtd_linhas - qtd_linhas_treino  
qtd_linhas_validacao = qtd_linhas -1

info = (
    f"linhas treino= 0:{qtd_linhas_treino}"
    f" linhas teste= {qtd_linhas_treino}:{qtd_linhas_treino + qtd_linhas_teste -1}"
    f" linhas validaÃ§Ã£o= {qtd_linhas_validacao}"
)

info

'linhas treino= 0:231 linhas teste= 231:329 linhas validaÃ§Ã£o= 329'

In [167]:
#separando as features e labels
features = df_itau.drop(['sigla_acao', 'nome_acao', 'data_pregao', 'preco_fechamento'], 1)
labels = df_itau['preco_fechamento']

C:\Users\luis.bezerra.ext\AppData\Local\Temp\ipykernel_8816\1080584224.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  features = df_itau.drop(['sigla_acao', 'nome_acao', 'data_pregao', 'preco_fechamento'], 1)

In [168]:
#Escolhendo as melhores features com Kbest

features_list = ('preco_abertura','preco_max','preco_minimo','qtd_negocios','volume_negocios','mm5d','mm21d')

k_best_features = SelectKBest(k='all')
k_best_features.fit_transform(features, labels)
k_best_features_scores = k_best_features.scores_
raw_pairs = zip(features_list[1:], k_best_features_scores)
ordered_pairs = list(reversed(sorted(raw_pairs, key=lambda x: x[1])))

k_best_features_final = dict(ordered_pairs[:15])
best_features = k_best_features_final.keys()
print ('')
print ("Melhores features:")
print (k_best_features_final)

Melhores features:
{'mm21d': 2.194538986869895, 'preco_minimo': 1.5535289278948579, 'preco_max': 1.5531074848241906, 'qtd_negocios': 1.5433820599998007, 'volume_negocios': 0.8761062839706822, 'mm5d': 0.8376419552199477}

In [169]:
df_itau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_pregao       330 non-null    datetime64[ns]
 1   sigla_acao        330 non-null    object
 2   nome_acao         330 non-null    object
 3   preco_abertura    330 non-null    float64
 4   preco_max         330 non-null    float64
 5   preco_min         330 non-null    float64
 6   preco_fechamento  330 non-null    float64
 7   qtd_negocios      330 non-null    float64
 8   volume_negocio    330 non-null    float64
 9   mm5d              330 non-null    float64
 10  mm21d             330 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 28.5+ KB

In [170]:
#separando as features escolhidas
features = df_itau.loc[:,['preco_max','preco_min','volume_negocio','mm5d']]

In [171]:
features

     preco_max  preco_min  volume_negocio    mm5d
0        22.88      22.31    9.440739e+10  24.020
1        24.50      23.81    1.350823e+11  24.368
2        25.41      24.91    8.156208e+10  24.552
3        27.00      26.17    4.279020e+11  24.764
4        23.35      22.70    1.288926e+11  24.424
..         ...        ...             ...     ...
325      26.70      26.25    7.603286e+10  26.668
326      27.04      26.29    8.282755e+10  26.664
327      27.42      26.95    6.504549e+10  26.718
328      27.36      26.68    1.234654e+11  26.866
329      27.76      26.79    8.096778e+10  26.960

[330 rows x 4 columns]

In [172]:
#Separa os dados de treino teste e validaÃ§Ã£o
X_train = features[:qtd_linhas_treino]
X_test = features[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

y_train = labels[:qtd_linhas_treino]
y_test = labels[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

print( len(X_train), len(y_train))

print( len(X_test), len(y_test))

231 231
98 98

In [173]:
# Normalizando os dados de entrada(features)

# Gerando o novo padrÃ£o
scaler = MinMaxScaler()
X_train_scale = scaler.fit_transform(X_train)  # Normalizando os dados de entrada(treinamento)
X_test_scale  = scaler.transform(X_test)       # Normalizando os dados de entrada(teste)

In [174]:
#treinamento usando regressÃ£o linear
lr = linear_model.LinearRegression()
lr.fit(X_train_scale, y_train)
pred= lr.predict(X_test_scale)
cd =r2_score(y_test, pred)

f'Coeficiente de determinaÃ§Ã£o:{cd * 100:.2f}'

'Coeficiente de determinaÃ§Ã£o:41.46'

In [175]:

#rede neural
rn = MLPRegressor(max_iter=2000)

rn.fit(X_train_scale, y_train)
pred= rn.predict(X_test_scale)

cd = rn.score(X_test_scale, y_test)


f'Coeficiente de determinaÃ§Ã£o:{cd * 100:.2f}'

'Coeficiente de determinaÃ§Ã£o:38.25'

In [176]:
#rede neural com ajuste hyper parameters

rn = MLPRegressor()

parameter_space = {
        'hidden_layer_sizes': [(i,) for i in list(range(1, 21))],
        'activation': ['tanh', 'relu'],
        'solver': ['sgd', 'adam', 'lbfgs'], 
        'alpha': [0.0001, 0.05],
        'learning_rate': ['constant', 'adaptive'],
    }

search = GridSearchCV(rn, parameter_space, n_jobs=-1, cv=5)


search.fit(X_train_scale,y_train)
clf = search.best_estimator_
pred= search.predict(X_test_scale)

cd = search.score(X_test_scale, y_test)

f'Coeficiente de determinaÃ§Ã£o:{cd * 100:.2f}'

C:\Users\luis.bezerra.ext\a\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:541: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

'Coeficiente de determinaÃ§Ã£o:-0.62'

In [177]:
valor_novo = features.tail(1)
valor_novo

     preco_max  preco_min  volume_negocio   mm5d
329      27.76      26.79    8.096778e+10  26.96

In [178]:
#executando a previsÃ£o


previsao=scaler.transform(valor_novo)


pred=lr.predict(previsao)

pred

array([26.54617556])

In [179]:
df = df[df['sigla_acao'] == 'ITUB4' ]

In [180]:
data_pregao_full=df['data_pregao']
data_pregao=data_pregao_full.tail(1)

res_full=df['preco_fechamento']
res=res_full.tail(1)

df=pd.DataFrame({'data_pregao':data_pregao, 'real':res, 'previsao':pred})


df.set_index('data_pregao', inplace=True)

print(df)

              real   previsao
data_pregao
2023-05-18   27.09  26.546176